.title-nav {
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #1c1c1c;
}

main {
  min-height: 100vh;
  background-color: #e3e3e3;
}
/* Estilos del login */
.contenedor_login {
  display: flex;
  align-items: center;
  justify-content: center;
}

#avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
}
/* ====================== */

/* Estilo del modal de usuario logueado */
#modalUser {
  z-index: 1000;
}
#avatarModal {
  object-fit: cover;
  border-radius: 200%;
}
/* ==================================== */

/* Estilos de carousel de destacados */
.img-carousel-destacado {
  object-fit: cover;
  max-height: 720px;
}

.fondo-carousel::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: 0.6;
  z-index: 1;
}

.carousel-caption {
  z-index: 2;
}
.carousel-caption h4 {
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000,
    1px -1px 1px #000;
}

/* ========================================== */

/* Estilos de categorias */

/* --- --- CAROUSEL --- --- */

.carousel__contenedor {
  position: relative;
}

.carousel__anterior,
.carousel__siguiente {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  top: calc(50% - 35px);
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  background: none;
  color: #fff;
  opacity: 20%;
  z-index: 3;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
  opacity: 100%;
}

.carousel__anterior {
  left: -30px;
}
.carousel__siguiente {
  right: -30px;
}
.carousel__elemento img {
  width: 90%;
  height: 380px;
}
.carousel__lista {
  overflow: hidden;
}

.carousel__elemento {
  text-align: center;
}

@media (max-width: 435px) {
  .carousel__anterior {
    left: -10px;
  }
  .carousel__siguiente {
    right: -10px;
  }
}

/* ============================ */

/* Estilos de registo */

#portadaRegistro {
  object-fit: cover;
  max-height: 170px;
}
/* ================== */

/* Estilos de admin */
#avatarModalAdmin {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 100%;
}

textarea {
  resize: none;
}
/* =============== */
